body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup {
  position: fixed;
  opacity: 0;
  transition: opacity 200ms;
  min-width: 150px;
  max-width: 200px;
  text-align: center;
  z-index: 9999999999999999999999;
}

.popup.active {
  opacity: 1;
}

.popup-action {
  display: inline-block;
  margin: 0 auto;
  line-height: 1;
}

.popup-action span {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
}

.popup-action span img {
  width: 16px;
  height: 16px;
}

.popup-action span.active-action, 
.popup-action span:hover {
  background: #ddd;
}

.popup-action:first-child {
  border-right: none;
}

.popup-detail {
  background: white;
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

.popup-detail img {
  width: 100%;
  height: 100%;
}

.popup-detail p {
  margin: 0;
}


.history {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  padding: 3rem;
  width: 200px;
  max-height: 300px;
  overflow: auto;
}

.history h2 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.history ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}

.history li {
  margin-bottom: 1rem;
}

 /* .history li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}  */

.history li a {
  text-decoration: none;
  color: #333;
}

.history li a:hover {
  text-decoration: underline;
}

.history {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5rem;
  cursor: pointer;
  transition: width 200ms, height 200ms;
}

.history h2 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.history ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  overflow: auto;
  display: none;
}

.history.expanded {
  width: 200px;
  max-height: 300px;
}

.history.expanded ul {
  display: block;
}

.history.collapsed {
  width: 80px;
  height: 30px;
}

.history li {
  margin-bottom: 0.5rem;
}

.history li a {
  text-decoration: none;
  color: #333;
}

.history li a:hover {
  text-decoration: underline;
}

.history img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.history.collapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4682B4; 
  color: white; 
  opacity: 1; 
}

.history.collapsed h2 {
  font-size: 12px; 
  margin: 0; 
  padding: 0; 
}

.historyItem {
  border: 1px solid #A9A9A9;
  padding: 40px 10px 10px 10px; 
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #F5F5F5;
  position: relative;
}

.historyItemNumber {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #4682B4;
  padding: 2px;
}

.historyItemP {
  color: #696969;
  position: relative;
}

.historyItemBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, transparent, #D3D3D3, transparent);
}

.historyItemResult {
  color: #696969;
}

.historyItemTimestamp {
  font-size: 0.8em;
  position: absolute;
  bottom: -17px;
  left: 10px;
  color: #A9A9A9;
}

.textBlock {
  font-size: 2rem; 
  font-weight: bold;
}

.resultBlock {
  background-color: #E0E0E0; 
  padding: 10px;
  border-radius: 5px;
}



